  <footer>
  <h4><a href="https://cryptic-fortress-64035.herokuapp.com/">alles klopt in mijn files, op heroku site staat Build succeeded en in de terminal geeft het ook geen fout aan.</a></h4>
</footer>


      <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
